<?xml version="1.0"?>

<model>
  <name>Kallax2</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>


  <author>
    <name>Tim Welschehold</name>
    <email> </email>
  </author>

  <description>
    Kallax with a door 
  </description>

</model>
